@use "../helpers/mixins" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  font-family: var(--font-family-base);

  display: flex;
  flex-direction: column;

}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

header p {
  text-align: center;
}



h1,
.h1 {
  @include fluid-text(58, 28);

  font-weight: 700;
}

h2,
.h2 {
  @include fluid-text(48, 24);

  font-weight: 700;
}

h3,
.h3 {
  @include fluid-text(38, 20);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 500;
}

h6,
.h6 {
  @include fluid-text(20, 16);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration-02);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red-45);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
